<!DOCTYPE html>
<html lang="en" class="theme-{{ theme }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="trimill">
	<meta name="description" content="{{ meta.desc }}">
	<meta name="theme-color" content="#2aca98">
	<meta property="og:description" content="{{ meta.desc }}">
	<meta property="og:title" content="{{ meta.title }}">
	<meta property="og:site_name" content="trimill.xyz">
	<meta property="og:image" content="{{ url_for('static', filename='logo640.png') }}">

	<title>{{ meta.title }}</title>
	
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='logo16.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo32.png') }}">
	<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='logo64.png') }}">
	<link rel="icon" type="image/png" sizes="320x320" href="{{ url_for('static', filename='logo320.png') }}">
	<link rel="icon" type="image/png" sizes="640x640" href="{{ url_for('static', filename='logo640.png') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<style>
		body {
			{% if meta.fullscreen == True %}
			width: 100%;
			{% else %}
			width: min({{ meta.pagewidth or "800px"}}, 80vw);
			{% endif %}
		}
	</style>

	{% block head %} {% endblock %}
</head>
<body>
	{% if meta.fullscreen != True %}
	<nav>
		<a href="/">Home</a> ·
		<a href="/projects/">Projects</a> ·
		<a href="/blog/">Blog™</a> ·
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" style="position: sticky;">
		<a href="?theme={{ data.next_theme[theme] | safe }}">
			{% if theme == "dark" %}
			<path d="M2.72 0c-1.58.53-2.72 2.02-2.72 3.78 0 2.21 1.79 4 4 4 1.76 0 3.25-1.14 3.78-2.72-.4.13-.83.22-1.28.22-2.21 0-4-1.79-4-4 0-.45.08-.88.22-1.28z" />
			<title>Dark theme</title>
			{% elif theme == "light" %}
			<path d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z" />
			<title>Light theme</title>
			{% else %}
			<path d="M3.41 0a.5.5 0 0 0-.13.06l-3 1.5a.5.5 0 1 0 .44.88l3-1.5a.5.5 0 0 0-.31-.94zm1 1.5a.5.5 0 0 0-.13.06l-4 2a.5.5 0 1 0 .44.88l4-2a.5.5 0 0 0-.31-.94zm0 2a.5.5 0 0 0-.13.06l-3 1.5a.5.5 0 0 0 .22.94h2a.5.5 0 0 0 .16-1l1.06-.56a.5.5 0 0 0-.31-.94zm-2.56 3.5a.5.5 0 0 0 .16 1h1a.5.5 0 1 0 0-1h-1a.5.5 0 0 0-.09 0 .5.5 0 0 0-.06 0z" transform="translate(1)" />
			<title>System default theme</title>
			{% endif %}
		</a>
		</svg>
	</nav>

	<h1>{{ meta.title }}</h1>

	<hr style="width: 100%">

	{% endif %}
	<main>
		{% block content %}{% endblock %}
	</main>
	{% if meta.fullscreen != True %}
	<hr>
	<div id="abdetect-container">
		<span class="ad-slot" id="ad">
			you aren't using an adblocker! click 
			<a href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/">here (firefox)</a> or
			<a href="https://chromewebstore.google.com/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">here (chrome)</a> to install one.
		</span>
		<span id="abthankyou">
			thank you for using an adblocker!
		</span>
		<span style="visibility: hidden;">
			you aren't using an adblocker! click 
			<a href="">here (firefox)</a> or
			<a href="">here (chrome)</a> to install one.
		</span>
	</div>
	{% block footer_content %}{% endblock %}
	<footer>
		{{ data.feet | random | safe }}
	</footer>
	{% endif %}
</body>
</html>
