{% set meta = {"title": "trimill", "desc": "Home page"} %}
{% extends "/_base.html" %}
{% block content %}

<h2>About</h2>
<p>
    I am a person (proof of this fact is left to the reader) who has been granted an internet connection and uses 
    it extensively for assorted purposes.  I enjoy many things, most of which involve manipulating some state
    according to various sets of rules.
</p>

<h2>Projects</h2>
<ul>
    <li><a href="projects/complex_grapher">Complex Grapher</a> - Graph complex functions online</li>
    <li><a href="projects/zzcxz_vis">zzcxz visualizer</a> - Force-directed graph of <a href="https://zzcxz.citrons.xyz/">zzcxz</a> using D3.js</li>
    <li><a href="https://g.trimill.xyz/trimill/complexpr">complexpr</a> - A toy programming language with an interpreter written in Rust</li>
    <li><a href="https://g.trimill.xyz/trimill/Quectocraft">Quectocraft</a> - An ultra-minimalist implementation of a Minecraft server in Rust and Lua</li>
    <li><a href="https://g.trimill.xyz/trimill/rss-bundler">RSS Bundler</a> - Bundle multiple RSS feeds into one</li>
</ul>
<p>
    See more on the <a href="projects">projects page</a> and on <a href="https://g.trimill.xyz/trimill">my Forgejo instance</a>.
</p>

<h2>Contact</h2>
<p>
    Email: trimill012 ("at" sign) gmail (full stop) com <br>
    Discord: trimill#6898 <br>
    Forgejo: <a href="https://g.trimill.xyz/">trimill</a> <br>
    GitHub: <a href="https://github.com/TriMill/">trimill</a> <br>
    Youtube: <a href="https://www.youtube.com/@trimill012">trimill</a> <br>
</p>

{% endblock %}

{% block footer_content %}

{% if theme == "light" %}
<iframe height="50" src="https://george.gh0.pw/embed.cgi?trimill&c_bg=%23f6f5f2&c_fg=%2328262b&c_links=%230642c3&c_george=%230d8101&c_underline=%230d8101" style="border:none;width:100%;" sandbox="allow-top-navigation"></iframe>
{% elif theme == "special" %}
<iframe height="50" src="https://george.gh0.pw/embed.cgi?trimill&c_bg=%23ffff00&c_fg=%23ff00ff&c_links=%2300ffff&c_george=%2300ff00&c_underline=%2300ff00" style="border:none;width:100%;" sandbox="allow-top-navigation"></iframe>
{% elif theme == "system" %}
<iframe height="50" class="only-theme-dark" src="https://george.gh0.pw/embed.cgi?trimill&c_bg=%23131720&c_fg=%23e6ded6&c_links=%232aca98&c_george=%23268d78&c_underline=%23268d78" style="border:none;width:100%;" sandbox="allow-top-navigation"></iframe>
<iframe height="50" class="only-theme-light" src="https://george.gh0.pw/embed.cgi?trimill&c_bg=%23f6f5f2&c_fg=%2328262b&c_links=%230642c3&c_george=%230d8101&c_underline=%230d8101" style="border:none;width:100%;" sandbox="allow-top-navigation"></iframe>
{% else %}
<iframe height="50" src="https://george.gh0.pw/embed.cgi?trimill&c_bg=%23131720&c_fg=%23e6ded6&c_links=%232aca98&c_george=%23268d78&c_underline=%23268d78" style="border:none;width:100%;" sandbox="allow-top-navigation"></iframe>
{% endif %}

<p>
<iframe src="https://john.citrons.xyz/embed?ref=trimill.xyz" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
</p>

<br>

{% endblock %}
