{% set meta={"title": "Elements Game", "desc": "Combine elements to create more elements (now with 20% more bugs!)"} %}
{% extends "/_base.html" %}
{% block head %}
<script src="sketch.js"></script>
<script src="inputs.js"></script>
<script src="data.js"></script>
<script src="sorting.js"></script>
<script src="cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
{% endblock %}
